<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
</head>
<body>
    <div class="col-lg-6">
            <form action="/insert_contact/" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="400">
                {%  csrf_token %}
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" value= "{{ contacts.name }}" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" value = "{{ contacts.email }}" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" value="{{ contacts.subject }}" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" value="{{ contacts.message }}"  rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="sent-message">Your message has been updated. Thank you!</div>

                  <button type="submit">Update Message</button>
                </div>

              </div>
            </form>
          </div><!--

</body>
</html>