{% extends 'layout.html' %}
{% block code %}
    <a href="{% url 'venture:contact' %}">ADD DATA</a>
    <h1>View Contacts</h1>
    <div class="container">

        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Message</th>

            </tr>

            {% for contacts in contacts %}

              <tr>
                <td>{{ contacts.id }}</td>
                <td>{{ contacts.name }}</td>
                <td>{{ contacts.email }}</td>
                <td>{{ contacts.subject }}</td>
                <td>{{ contacts.message }}</td>
                <td>
                    <a href="/contacts/{{ contacts.id }}/">View</a>
                    <a href="/update_contact/{{ contacts.id }}/">Update</a>
                    <a href="/delete_contact/{{ contacts.id }}/">Delete</a>
                </td>


              </tr>

            {% endfor %}




        </table>


    </div>

    <div class="container mt-5">
        <div class="row">
            {% for student in students %}
                <div class="col-md-4  d-flex flex-column  mb-4 border rounded shadow-sm bg-light min-h-75">
                    <img src="/media/{{ student.stud_pass }}" alt="Student Image" class="mb-3 img-fluid">
                    <p>{{ student.stud_name }}</p>
                    <p>{{ student.stud_age }}</p>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}